header {
font-family: Arial;
background-color:black;
color:white;
text-align:center;	
font-size:0.5em;
height:50px;
}

div#niort {
background-color:grey;
}

div#rio {
background-color:grey;
}

div#reykjavik {
background-color:grey;
}

footer {
background-color:grey;	
}